<div class="form-container">
	<h1>Shorten Your URL Here!</h1>
	<form class="original-url-form">
		<input id="original-url" type="text" name="input-original-url" placeholder="Paste a link to shorten it!">
    <input type="submit" id="submit-search" value="Submit"></input>
	</form>
</div>

<div class="result-container">
	<ul class="display-result">
		<% @shrink_urls.each do |url| %>
			<li><a href="/shrink_urls/<%= url.id %>"><span class="original">Original Url: </span><span class="links"><%= url.original_url %></span><br/>
			<span class="short">Short Url: </span><span class="links">localhost:3000/shrink_urls/<%= url.id %></span></a></li>
		<% end %>
	</ul>
</div>
